.card-image img {
  max-width: 100%;
  width: 350px;
  height: 350px;
  object-fit: cover;
}

.card-list {
  width: 80%;
  max-width: 300px;
}

.card {
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(#000, 0.05), 0 20px 50px 0 rgba(#000, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.card-image {
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-title {
  font-size: 18px;
  font-weight: 700;
  color: #2d3a21;
}

.product-price{
  font: 18px;
  color: #faa645;
  font-weight: 700;
}

.product-card-buttons {
  width: 100% ;
  display: flex;
  gap: .3rem;
  padding: .3rem;
}

.product-card-buttons > button {
  width: 50%;
  border: #2d3a21;
  background-color: #2d3a21;
  color: #ddb68c;
  font-weight: 800;
  padding: 5px 5px;
  border-radius: 5px;
}



@media only screen and (min-width: 600px) {
    .product-card {
      width: 250px;
    }
}


