.product-page {
  margin: .5rem;
  font-family: 'Roboto', sans-serif;
}

.product-image > img {
  width: 100%;
}

.product-name {
  color: #2d3a21;
}

.product-price {
  color: #faa645;
  font-weight: bolder;
  font-size: 1.2rem;
}

.add-to-cart-button {
  border: #44594a;
  background-color: #44594a;
  color: #f8cc9f;
  font-size: 1rem;
  font-weight: bolder;
  width: 100%;
  padding: .8rem 0;
}

@media only screen and (min-width: 700px) {
  .product-page {
    display: flex;
    align-items: center;
    gap: 1rem;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 1rem;
  }

  .product-image {
    width: 50%;
  }

  .product-details {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .product-name {
    font-size: 3rem;
  }

  .product-price {
    font-size: 1.5rem;
  }
}