img {
  max-width: 100%;
}

.card-list {
  width: 80%;
  max-width: 300px;
}

.card {
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(#000, 0.05), 0 20px 50px 0 rgba(#000, 0.1);
  border-radius: 15px;
  overflow: hidden;
  padding: 1.25rem;
}

.card-image {
  border-radius: 10px;
  overflow: hidden;
  object-fit: cover;
}

.card-header {
  margin-top: 1.5rem;
  display: flex;

  align-items: center;
  justify-content: space-between;
}
.product-title {
  font-size: 25px;
  font-weight: 700;
  color: #2d3a21;
}
.product-price{
  font: 20px;
  color: #faa645;
  font-weight: 800;
}
.btn{
  align-items: center;
  display: flex;
  justify-content: space-between;
 
}

.cart-btn{
  border: #44594a;
  background-color: #44594a;
  color: #f8cc9f;
  font-size: 1rem;
  font-weight: bolder;
  width: 50%;
  margin: 0 10px;

}
.rating {
  display: inline-block;
  font-size: 15px;
}

/* .rating input {
  display: none;
} */

.rating label {
  cursor: pointer;
  color: #ddd;
  font-size: 24px;
  margin-right: 5px;
}

.rating label:hover,
.rating label:hover ~ label,
.rating input:checked ~ label {
  color: #FFD700;
}


@media only screen and (min-width: 600px) {
  .product-card {
    width: 250px;
  }
}


