.login-container {
  font-family: 'Courier New', Courier, monospace;
  /* margin: 1rem; */
  display: flex;
  flex-flow: column;
  height: 100%;
}

.login-img {
  display: none;
}

.login-form {
  /* width: 100%; */
}

.form-title {
}

.form-inputs {
  margin: 1rem 0;
}

.form-inputs input, button {
  width: 100%;
}