.login-box {
  width: 350px;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.404);
  border-radius: 10px;
  margin: 1rem auto
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #2d3a21;
  text-align: center;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #2d3a21;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #2d3a21;
  outline: none;
  background: transparent;
}

.login-box form button {
  padding: 10px 20px;
  border: #2d3a21;
  background-color: #2d3a21;
  color: #ddb68c;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  letter-spacing: 4px;
  width: 100%;
}

.login-box form button:hover {
  transform: translateY(-10px);
}

.redirect-link {
  margin-top: 16px;
}

.redirect-link > p {
  color:#2d3a21;
}

.rlink {
  color: #faa645;
  text-decoration: none;
  font-weight: 600;
}

.rlink:hover {
  color: #faa645;
}

@media only screen and (min-width: 700px) {
  .login-box {
    width: 500px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.404);
  }
}
